.heading {
    font-family: Arial, Verdana, sans-serif;
}

topHeading {
    display: inline-flex;
    padding: 2px;
    border: 6px;
    color: grey;
}

.topHeading h1 {
    display: inline-flex;
    
}

.redH1 {
    color: red;
}


h1 {
    color: gray;
}

.firstImage {
    width: 588px;
}

.bottom {
    display: inline;
}

.bottom img {
    display: inline;
    width: 200px;
}